{
  "name": "helm-charts",
  "branches": ["main"],
  "plugins": [
    [
      "semantic-release-helm",
      {
        chartPath: './charts/open-webui',
        crPublish: false,
        onlyUpdateVersion: true
      }
    ]
  ]
}
